<configuration>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode loggingEnabled="true" debuggingEnabled="false" node_env="production" />
    <rewrite>
      <rules>
        <rule name="app" patternSyntax="Wildcard">
          <match url="*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <security>
       <requestFiltering>
          <verbs allowUnlisted="true">
             <add verb="POST" allowed="true" />
          </verbs>
       </requestFiltering>
    </security>
  </system.webServer>
</configuration>
