@import 'tailwindcss';

:root {
  /* Core surface and text colors */
  --background: #ffffff;

  /* Brand and UI palette */
  --primary: #0ea5e9;
  --text-white: #ffffff;
  --text-black: #000000;
  --secondary: #fbfbfb;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-white: var(--text-white);
  --color-text-black: var(--text-black);
}

@font-face {
  font-family: 'VazirMatn';
  src: url('/assets/fonts/VazirMatn/fonts/webfonts/Vazirmatn-Regular.woff2')
    format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'VazirMatn';
  src: url('/assets/fonts/VazirMatn/fonts/webfonts/Vazirmatn-Bold.woff2')
    format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'VazirMatn';
  src: url('/assets/fonts/VazirMatn/fonts/webfonts/Vazirmatn-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'poppins';
  src: url('/assets/fonts/poppins/PoppinsLatin-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'poppins';
  src: url('/assets/fonts/poppins/PoppinsLatin-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'poppins';
  src: url('/assets/fonts/poppins/PoppinsLatin-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html.font-fa {
  font-family: 'Vazirmatn';
}

html.font-en {
  font-family: 'poppins';
}
