@import 'tailwindcss';

:root {
  /* Core surface and text colors */
  --background: #ffffff;

  /* Brand and UI palette */
  --primary: #2690e0;
  --text-white: #ffffff;
  --text-black: #000000;
  --second-primary: #1e73b3;
  --second-primary-hover: #175686;
  --second-primary-disabled: #d5d6d7;
  --border-color-gray: #97999b;
  --text-disabled: #ababab;
  --button-outline-border: #2690e0;
  --button-outline-disabled: #eaebeb;
  --error-color: #d33c3c;
  --secondary: #f3f3f3;
  --primary-border: #2f76c7;
  --second-gray: #e0e0e0;
  --second-border-gray: #e6e6e6;

  --button-primary: #2378d8;
  --second-blue: #eaf3f8;
  --second-text-color: #3a3a3a;
  --border-color: #ebebeb;
  --active-tab-color: #ecf0ff;
  --col-bg: #fbfdff;
  --active-loan-text: #4e4e4e;
  --gray-text-second: #323232;
  --danger-color: #ff4b4b;
  --block-color: #f9f9f9;
  --second-primary: #124681;
  --light-primary: #ebf3fd;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-white: var(--text-white);
  --color-text-black: var(--text-black);
  --second-primary: var(--second-primary);
  --second-primary-hover: var(--second-primary-hover);
  --second-primary-disabled: var(--second-primary-disabled);
  --border-color-gray: var(--border-color-gray);
  --text-disabled: var(--text-disabled);
  --button-outline-border: var(--button-outline-border);
  --button-outline-disabled: var(--button-outline-disabled);
  --error-color: var(--error-color);
  --light-primary: var(--light-primary);
  --second-primary: var(--second-primary);
  --primary-border: var(--primary-border);
  --second-border-gray: var(--second-border-gray);

  --color-background: var(--background);
  --color-first-gradient: var(--first-gradient);
  --color-second-gradient: var(--second-gradient);
  --color-button-primary: var(--button-primary);
  --color-second-blue: var(--second-blue);
  --color-second-blue: var(--second-blue);
  --color-border-color: var(--border-color);
  --color-active-tab-color: var(--active-tab-color);
  --color-col-bg: var(--col-bg);
  --color-second-text-color: var(--second-text-color);
  --active-loan-text: var(--active-loan-text);
  --second-gray: var(--second-gray);
  --gray-text-second: var(--gray-text-second);
  --danger-color: var(--danger-color);
  --block-color: var(--block-color);
}

@font-face {
  font-family: 'VazirMatn';
  src: url('/assets/fonts/VazirMatn/fonts/webfonts/Vazirmatn-Regular.woff2')
    format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'VazirMatn';
  src: url('/assets/fonts/VazirMatn/fonts/webfonts/Vazirmatn-Bold.woff2')
    format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'VazirMatn';
  src: url('/assets/fonts/VazirMatn/fonts/webfonts/Vazirmatn-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'poppins';
  src: url('/assets/fonts/poppins/PoppinsLatin-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'poppins';
  src: url('/assets/fonts/poppins/PoppinsLatin-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'poppins';
  src: url('/assets/fonts/poppins/PoppinsLatin-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html.font-fa {
  font-family: 'Vazirmatn';
}

html.font-en {
  font-family: 'poppins';
}

.swiper {
  width: 100%;
  height: 100%;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  height: 2px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #3b82f6;
  border: 4px solid white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: -9px;
}
input[type='range']::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #3b82f6;
  border: 5px solid white;
  cursor: pointer;
}
